.jumbotron {  
    background-color: #00539F;
    margin-top: 50px;
    
}
    
      

.tex {
    text-align: center;
 
}
.text {
    text-align: justify;
}
.columna {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 8px;
    flex: 1 200px;

        
}

.btn-Visita {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 50;
    flex: 1 150px;
    padding: 4px 8px 4px 8px;
    align-items: center;
    background-color:#3090C7;
    bottom: 100;
    color: black;
    border: 1px solid #62C2F9;
    border-radius: 10px;
    display: flex; 
    align-items: center;
    
    
    
  
}


footer  {
    padding: 10px 10px 10px;
    margin-bottom: 8px;
    margin-top: 10px;
    background-color: burlywood;
    
}

.footer-adress-icon {
     padding-right: 10px;
    

}

.tab-content {
     padding-top: 20px;


}